
    .input_container {
      display: flex;
      margin-bottom: 20px;
    }

    .sendButton {
      padding: 15px;
      width: 100px;
      font-size: 15px;
      font-weight: bold;
      border-radius: 5px;
      border: none;
      color: white;
      margin: 10px;
      background-color: rgb(1, 110, 56);
      cursor: pointer;
    }

    .inputBox {
      padding: 10px;
      font-size: 15px;
      border-radius: 5px;
      border: 1px solid gray;
      margin: 10px;
      flex-grow: 1;

    }

    .app_container {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      height: 100vh;
      display: flex;
      flex-direction: column;

    }

    .chat_user {
      display: flex;
      justify-content: flex-end;
      align-items: start;

    }

    .chat_bot {
      display: flex;
      justify-content: flex-start;
      align-items: start;
    }

    .chat_message_text {
      background-color: rgb(208, 212, 212);
      border-radius: 10px;
      padding: 15px 20px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 20px;
      max-width: 300px;
    }

    .chat_bot_img,
    .chat_user_img {
      width: 45px;
      border-radius: 50%;
    }

    .chat_message_container {
      flex-grow: 1;
      overflow-y: auto;
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      scrollbar-width: none;
    }